<div class="container">
  <div class="image">
    <img
      src="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt209db9312ce8d1fe/6364c712a803a24d15c8884d/Mbappe_Haaland_.jpg"
      alt=""
      width="500px"
    />
  </div>
  <div class="date">
    <p>27 Janeiro 2023</p>
  </div>
  <div class="title">
    <h1>Haaland or Mbappe? Who is the best?
    </h1>
  </div>
  <div class="description">
    <p>
      Kylian Mbappe and Erling Haaland are both exceptional young football players with incredible skills, and it's difficult to definitively say who is better. Both players have been making waves in the world of football and are considered two of the most promising young talents in the game.
    </p>
  </div>

</div>
