.container{
  display: flex;
  flex-direction: row;
  width: 700px;
}

.content {
  margin-left: 1rem;
  padding-top: 5px;
}

.image > img {
  width: 275px;
  height: 175px;
}


.date {
  font-size: 1rem;

}

.title {
  font-size: 1.5rem;
  margin-top: 1.2rem;
}

app-line-divider {
  margin-top: 1rem;
}
