<div class="container">
  <div class="image">
    <img src="https://cdn-3.expansion.mx/dims4/default/29611cd/2147483647/strip/true/crop/1670x940+0+0/resize/1200x675!/format/webp/quality/60/?url=https%3A%2F%2Fcherry-brightspot.s3.amazonaws.com%2Ff5%2F2f%2Ff5c57f43426b8c6a057fc4c35192%2Fgettyimages-149135937.jpg" alt="" />
  </div>
  <div class="content">
    <span class="date">13 de Janeiro 2023</span>
    <h1 class="title">
      <a href="#">
        Michael Phelps seria o maior nadador de todos os tempos?
      </a>
    </h1>
  </div>
</div>
