.container {
  margin: 4rem;
}
.content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
}

.main-article {

}

.others-article {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
