<div class="container">
  <app-menu-bar></app-menu-bar>
  <app-big-title></app-big-title>
  <div class="content">
    <div class="main-article">
      <app-big-card
        imageUrl="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt209db9312ce8d1fe/6364c712a803a24d15c8884d/Mbappe_Haaland_.jpg"
        date="20 Abril 2023"
        title="Haaland ou Mbappe? Quem eh o melhor?"
        description="Tanto Kylian Mbappé quanto Erling Haaland são jogadores jovens
        excepcionais de futebol com habilidades incríveis, e é difícil dizer
        definitivamente quem é melhor. Ambos os jogadores estão fazendo ondas no
        mundo do futebol e são considerados dois dos talentos jovens mais
        promissores do jogo."
      />
    </div>
    <div class="others-article">
      <app-small-card
        imageUrl="https://cdn-3.expansion.mx/dims4/default/29611cd/2147483647/strip/true/crop/1670x940+0+0/resize/1200x675!/format/webp/quality/60/?url=https%3A%2F%2Fcherry-brightspot.s3.amazonaws.com%2Ff5%2F2f%2Ff5c57f43426b8c6a057fc4c35192%2Fgettyimages-149135937.jpg"
        date="13 de Janeiro"
        title="Michael Phelps eh o melhor nadador de todos os tempos?"
        />
      <app-line-divider />
      <app-small-card
        imageUrl="https://cdn-3.expansion.mx/dims4/default/29611cd/2147483647/strip/true/crop/1670x940+0+0/resize/1200x675!/format/webp/quality/60/?url=https%3A%2F%2Fcherry-brightspot.s3.amazonaws.com%2Ff5%2F2f%2Ff5c57f43426b8c6a057fc4c35192%2Fgettyimages-149135937.jpg"
        date="13 de Janeiro"
        title="Michael Phelps eh o melhor nadador de todos os tempos?"
      />
      <app-line-divider />
      <app-small-card
        imageUrl="https://cdn-3.expansion.mx/dims4/default/29611cd/2147483647/strip/true/crop/1670x940+0+0/resize/1200x675!/format/webp/quality/60/?url=https%3A%2F%2Fcherry-brightspot.s3.amazonaws.com%2Ff5%2F2f%2Ff5c57f43426b8c6a057fc4c35192%2Fgettyimages-149135937.jpg"
        date="13 de Janeiro"
        title="Michael Phelps eh o melhor nadador de todos os tempos?"
      />
    </div>
  </div>
</div>


<!-- <div class="image">
  <img
    src="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt209db9312ce8d1fe/6364c712a803a24d15c8884d/Mbappe_Haaland_.jpg"
    alt=""
  />
</div>
<div class="date">
  <p>27 Janeiro 2023</p>
</div>
<div class="title">
  <h1><a href="#">Haaland ou Mbappe? Quem eh o melhor?</a></h1>
</div>
<div class="description">
  <p>
    Tanto Kylian Mbappé quanto Erling Haaland são jogadores jovens
    excepcionais de futebol com habilidades incríveis, e é difícil dizer
    definitivamente quem é melhor. Ambos os jogadores estão fazendo ondas no
    mundo do futebol e são considerados dois dos talentos jovens mais
    promissores do jogo.

  </p> -->
